@font-face {
  font-family: 'Raleway-Regular';
  src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
  font-family: 'Raleway-Bold';
  src: url(../fonts/Raleway-Bold.ttf);
}
@font-face {
  font-family: 'Raleway-Light';
  src: url(../fonts/Raleway-Light.ttf);
}
@font-face {
  font-family: 'Cardo-Italic';
  src: url(../fonts/Cardo-Italic.ttf);
}
body {
  font-size: 14px;
}
p {
  font-family: Raleway-Regular;
  color: #6e7279;
}
img {
  margin-bottom: 2rem;
}
.fa {
  color: #6e7279;
  font-size: 1.5rem;
}
.big {
  font-family: Raleway-Bold;
  color: #2d3033;
  text-transform: uppercase;
}
.white_text {
  color: #ffffff;
}
.container {
  max-width: 1900px;
  padding-right: 0;
  padding-left: 0;
}
section {
  margin-bottom: 7rem;
}
.btn_orange {
  background-color: #e84545;
  border-radius: 5px;
  border: 2px solid #e84545;
  padding: 1.5rem 4rem;
}
a:hover,
a:focus {
  color: #e84545;
  border: #e84545;
  text-decoration: none;
}
.top_part {
  background-image: url(../img/img_4.png);
  background-size: cover;
}
.top_part .header_panel {
  max-width: 100rem;
  text-align: center;
  border-bottom: 1px solid #6e7279;
  display: flex;
  justify-content: space-around;
}
.top_part .header_panel img {
  margin-top: 1.5rem;
}
.top_part .header_panel .nav_bar {
  margin-top: 1.5rem;
}
.top_part .text_with_btn {
  text-align: center;
}
.top_part .text_with_btn .the_biggest {
  font-size: 4.5rem;
}
.top_part .text_with_btn .bigger {
  font-size: 1.6rem;
  margin-bottom: 6rem;
}
.top_part .text_with_btn button {
  margin-bottom: 11rem;
}
.top_part .text_with_btn button:hover {
  background-color: #ffffff;
  color: #3a3e64;
}
.features .features_3 {
  display: flex;
  justify-content: space-around;
}
.features .features_3 .feature {
  text-align: center;
  width: 20%;
}
.works .works_4 {
  display: flex;
  justify-content: center;
}
.works .works_4 .work {
  width: 20%;
  margin-bottom: 0.1rem;
  margin-right: 0.1rem;
}
.works .works_4 .work img {
  width: 100%;
  margin-bottom: 0;
}
.team {
  display: flex;
  justify-content: space-around;
}
.team .one_person {
  width: 20%;
  margin-right: 1rem;
}
.team .one_person .p-22 {
  font-size: 1.5rem;
  color: #2d3033;
}
.team .one_person .big {
  color: #e84545;
}
.team .one_person .person_pages .fa {
  border: 1px solid #6e7279;
  padding: 1rem;
  margin-right: 4px;
}
.clients .carousel .carousel-inner .carousel-item {
  width: 100%;
  display: flex;
  justify-content: center;
}
.clients .carousel .carousel-inner .carousel-item .left_img {
  width: 50%;
  background-image: url(../img/Img_21.png);
  background-size: cover;
}
.clients .carousel .carousel-inner .carousel-item .left_img img {
  height: 100%;
}
.clients .carousel .carousel-inner .carousel-item .right_img {
  display: block;
  width: 50%;
  background-image: url(../img/Img_21.png);
  background-size: cover;
}
.clients .carousel .carousel-inner .carousel-item .right_img .smaller {
  font-size: 0.93rem;
  margin: 1rem 4.4rem 3rem 4.4rem;
}
.clients .carousel .carousel-inner .carousel-item .right_img .cardo {
  font-family: 'Cardo-Italic';
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 4.4rem 4.4rem 1rem 4.4rem;
}
.download {
  text-align: center;
}
.download .light {
  font-family: Raleway-Light;
  font-size: 2rem;
}
.download button:hover {
  background-color: #3a3e64;
  color: #e84545;
}
.bottom_part {
  margin-bottom: 0;
}
.bottom_part .footer_first {
  margin-bottom: 0;
  text-align: center;
  background-image: url(../img/Img_1.png);
  display: flex;
  justify-content: space-around;
}
.bottom_part .footer_first .text {
  width: 25%;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.bottom_part .footer_first .social_media {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.bottom_part .footer_first .social_media .person_pages {
  text-align: center;
}
.bottom_part .footer_first .social_media .person_pages a:hover,
.bottom_part .footer_first .social_media .person_pages a:focus {
  color: #e84545;
  border: #e84545;
  text-decoration: none;
}
.bottom_part .footer_first .social_media .person_pages .fa {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 1rem;
  margin-right: 4px;
}
.bottom_part .footer_second {
  margin-bottom: 0;
  text-align: center;
  background-image: url(../img/Img_23.png);
}
.bottom_part .footer_second p {
  padding-top: 2rem;
}
.bottom_part .footer_second .without_padding_top {
  padding-top: 0;
  padding-bottom: 2rem;
}
